<!-- <div class="media">
  <%= render partial: "votes/voting", locals: { post: post } %>
  <div class="media-body">
    <h4 class="media-heading">
      <p><%= link_to topic.name, topic %></p>
    </h4>
    <small>
      <%= topic.description %>
    </small>
  </div>
</div> -->
