<h1>New Topic</h1>
<div class="row">
  <div class="col-md-4">
    <p>Guidelines for topics:</p>
    <ul>
      <li>Make sure the topic is an interesting one</li>
      <li>Never insult dogs or cats</li>
      <li>Stick a finger in one ear whilst you type</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { topic: @topic } %>
  </div>
</div>
