<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Post created: "<%= @post.title %>"</h1>
    <small>
      By: <%= @post.user.name %>
    </small>
    <p>
      You have favorited your new post and will receive updates whenever it is commented on!
    </p>
    <p>
      <%= link_to "View Post on site", topic_post_url(@post.topic, @post) %>
    </p>
  </body>
</html>
