.social-btn {
  color: red;
  padding: 50px;
  text-align: center;
  font-size: 0.8rem;
}

.remember-checkbox {
  margin-left: 10px;
}

.gravatar {
  margin: 2px;
}

@import "bootstrap-sprockets";
@import "bootstrap";
